<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>
        <%= title %>
    </title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="bower_components/materialize/dist/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/materialize/dist/js/materialize.js"></script>
</head>

<body class="black white-text">
    <!-- HEADER -->
    <% include ../partials/navbar %>


        <!-- CONTENT -->
        <main>
            <div class="container">
                <div class="section">
                    <br>
                    <h5 class="light">CAST & CREW</h5>
                    <br>
                    <div class="card">
                        <div class="card-tabs">
                            <ul class="tabs tabs-fixed-width black">
                                <li class="tab"><a class="active teal-text" href="#maincast">Main Cast</a></li>
                                <li class="tab"><a class="teal-text" href="#supportcast">Supporting Cast</a></li>
                                <li class="tab"><a class="teal-text" href="#maincrew">Main Crew</a></li>
                                <li class="tab"><a class="teal-text" href="#crew">Crew</a></li>
                            </ul>
                        </div>
                        <div class="card-content black">
                            <div id="maincast">
                                <br>
                                <h5 class="center light">MAIN CAST</h5>
                                <br>
                                <div class="row">
                                    <div class="col s12 m12">
                                        <div class="card horizontal" id="tiana">
                                            <div class="col s4 card-image black">
                                                <img src="<%= tiana_pic %>" alt="Tiana">
                                            </div>
                                            <div class="card-stacked">
                                                <div class="card-content black">
                                                    <h5 class="light">TIANA</h5>
                                                    <p class="line-height light">Ayianna Madison plays the main lead Tiana, an obedient yet insecure 12 year­-old who is torn between being her dark and beautiful self to being the light-­skinned grandchild that her Grandma wants to be.
                                                    </p>
                                                </div>
                                                <div class="card-action black">
                                                    <a href="/bio_ayianna" class="teal-text">Click for Bio</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 m12">
                                        <div class="card horizontal" id="grandma">
                                            <div class="col s4 card-image black">
                                                <img src="<%= grandma_pic %>" alt="Grandma Stevens">
                                            </div>
                                            <div class="card-stacked">
                                                <div class="card-content black">
                                                    <h5 class="light">GRANDMA STEVENS</h5>
                                                    <p class="line-height light">Jen H. Conrad plays the leading role of Grandma Stevens, an elderly woman who has an inferiority complex regarding her black skin color. She projects her warped ideology “the lighter your skin is, the more worthy
                                                        you will be” on her granddaughter Tiana by subjecting her to a ritual of ways to make her white: from straightening her hair, right through to burning her skin with bleaching cream.
                                                    </p>
                                                </div>
                                                <div class="card-action black">
                                                    <a href="/bio_jen" class="teal-text">Click for Bio</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 m12">
                                        <div class="card horizontal" id="joy">
                                            <div class="col s4 card-image black">
                                                <img src="<%= joy_pic %>" alt="Joy">
                                            </div>
                                            <div class="card-stacked">
                                                <div class="card-content black">
                                                    <h5 class="light">JOY</h5>
                                                    <p class="line-height light">Kacie Rogers plays the leading role of Joy, Tiana’s older runaway sister, who is the embodiment of self­‐love and black pride. She fights for the people she loves and for what she believes is right and just
                                                        through her strong affiliation to the Black Panther Party.
                                                    </p>
                                                </div>
                                                <div class="card-action black">
                                                    <a href="/bio_kacie" class="teal-text">Click for Bio</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="supportcast">
                                <br>
                                <h5 class="header center light">SUPPORTING CAST</h5>
                                <br>
                                <div class="row">
                                    <div class="col s12 m12">
                                        <div class="card horizontal" id="sean">
                                            <div class="col s4 card-image black">
                                                <img src="<%= sean_pic %>" alt="Sean James">
                                            </div>
                                            <div class="card-stacked">
                                                <div class="card-content black">
                                                    <h5 class="light">SEAN JAMES</h5>
                                                    <p class="line-height light">
                                                        Bruce Lemon Jr. stars as Sean James, Joy’s very militant but loving boyfriend who is also part of The Black Panthers. Having found Joy as an anchor to deal with his volatile temperant stemming from childhood abuse, Sean still struggles to keep his cool
                                                        in extreme situations.
                                                    </p>
                                                </div>
                                                <div class="card-action black">
                                                    <a href="/bio_bruce" class="teal-text">Click for Bio</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 m12">
                                        <div class="card horizontal" id="hale">
                                            <div class="col s4 card-image black">
                                                <img src="<%= hale_pic %>" alt="Officer Hale">
                                            </div>
                                            <div class="card-stacked">
                                                <div class="card-content black">
                                                    <h5 class="light">OFFICER HALE</h5>
                                                    <p class="line-height light">
                                                        Bob Streit stars as Police Officer Hale, a man hell-bent on “restoring the neighbourhood to its former glory” before the African Americans came in and tarnished it. He represents the fear and inability to accept change which leads to racism and bigotry.
                                                    </p>
                                                </div>
                                                <div class="card-action black">
                                                    <a href="/bio_bob" class="teal-text">Click for Bio</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 m12">
                                        <div class="card horizontal" id="bloom">
                                            <div class="col s4 card-image black">
                                                <img src="<%= bloom_pic %>" alt="Officer Bloom">
                                            </div>
                                            <div class="card-stacked">
                                                <div class="card-content black">
                                                    <h5 class="light">OFFICER BLOOM</h5>
                                                    <p class="line-height light">
                                                        Don Schlossman stars as Officer Bloom, Hale’s recently appointed partner. Unlike Hale, he grew in a mixed neighbourhood and has issues on the police brutality suffered by people of color, but out fear of his losing job and putting the lives of his loved
                                                        ones in danger, does nothing.
                                                    </p>
                                                </div>
                                                <div class="card-action black">
                                                    <a href="/bio_don" class="teal-text">Click for Bio</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 m12">
                                        <div class="card horizontal" id="announcer">
                                            <div class="col s4 card-image black">
                                                <img src="<%=  %>" alt="">
                                            </div>
                                            <div class="card-stacked">
                                                <div class="card-content black">
                                                    <h5 class="light">RADIO ANNOUNCER</h5>
                                                    <p class="line-height light">
                                                        Evan Michael plays the role of the Radio Announcer. Through his voice he sets the time period and the chaos following the turbulent time in 1968.
                                                    </p>
                                                </div>
                                                <div class="card-action black">
                                                    <a href="/bio_evan" class="teal-text">Click for Bio</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="maincrew">
                                <br>
                                <h5 class="header light center">MAIN CREW</h5>
                                <br>
                                <div class="row">
                                    <div class="col s12 m12">
                                        <div class="card horizontal" id="palesa">
                                            <div class="col s4 card-image black">
                                                <img src="<%= palesa_pic2 %>" alt="Palesa Lebona">
                                            </div>
                                            <div class="card-stacked">
                                                <div class="card-content black">
                                                    <h5 class="light">DIRECTOR/PRODUCER/WRITER: PALESA LEBONA</h5>
                                                    <p class="line-height light">
                                                        Palesa Lebona is a MFA Filmmaker born and raised in South Africa, based in Los Angeles.Fascinated by cartoons and the bed time stories her parents would read to her as a child and how the world operates, she developed a flair for telling stories and watching
                                                        and listening to stories via radio, TV and the big screen.
                                                    </p>
                                                </div>
                                                <div class="card-action black">
                                                    <a href="/bio_palesa" class="teal-text">Click for more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 m12">
                                        <div class="card horizontal" id="announcer">
                                            <div class="col s4 card-image black">
                                                <img src="<%= rodrigo_pic %>" alt="Rodrigo Zan">
                                            </div>
                                            <div class="card-stacked">
                                                <div class="card-content black">
                                                    <h5 class="light">DIRECTOR OF PHOTOGRAPHY: RODRIGO ZAN</h5>
                                                    <p class="line-height light">
                                                        Rodrigo Zan was born in São Paulo, Brazil, and since his early ages his passion for music, poetry, nature, new media and mystery has taken him on many trips and journeys.  He has degrees in Multimedia from PUC-SP which includes a focus on and extended research in New Media complemented by 3 years of courses in Art in Advertising and 2 years of Photography at Panamericana School of Arts as well as a Master of Fine Arts at the New York Film Academy.
                                                    </p>
                                                </div>
                                                <div class="card-action black">
                                                    <a href="/bio_rodrigo" class="teal-text">Click for more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="crew">
                                <br>
                                <h5 class="light center">Crew</h5>
                                <br>
                                <div class="row">
                                    <div class="col s4 offset-s2">
                                        <h6 class="center">PRODUCTION</h6>

                                        <ul class="">
                                            <li><span class="teal-text bold">First Assistant Director: </span>Will Darcy</li>
                                            <li><span class="teal-text bold">Associate Producer: </span>Will Darcy</li>
                                            <li><span class="teal-text bold">Casting Director: </span>Cherilyn Walker</li>
                                            <li><span class="teal-text bold">Production Designer: </span>Astrid Anderson</li>
                                            <li><span class="teal-text bold">Wardrobe: </span>Paige Rentel</li>
                                            <li><span class="teal-text bold">Make Up: </span>Carol Liang</li>
                                            <li><span class="teal-text bold">Sound Mixer/Boom: </span>Sebastian Bazzani</li>
                                            <li><span class="teal-text bold">Stunt Coordinator: </span>Selena o'Sullivan</li>
                                            <li><span class="teal-text bold">Location Manager: </span>Johanna Finn</li>
                                            <li><span class="teal-text bold">Script Supervisor: </span>Mans Reimer</li>
                                            <li><span class="teal-text bold">Studio Teachers: </span>Nora Shore & Heather Siembieda</li>
                                            <li><span class="teal-text bold">Production Assistants: </span> Uju Obiejesi, Marvin Akanyi, Erik Carlson & Ronda Suder</li>
                                        </ul>
                                    </div>
                                    <div class="col s1">

                                    </div>
                                    <div class="col s4">
                                        <h6 class="center">CAMERA & LIGHTNING</h6>

                                        <ul class="">
                                            <li><span class="teal-text bold">First Assistant Cameraman: </span>Travis Shannon</li>
                                            <li><span class="teal-text bold">Gaffer: </span>Leco Moura</li>
                                            <li><span class="teal-text bold">Key Grip: </span>Doug Minerva</li>
                                            <li><span class="teal-text bold">Grip/Electric: </span>Louis Tete</li>
                                            <li><span class="teal-text bold">BTS Footage: </span>Konrad Weixelbraum</li>
                                        </ul>
                                        <br>
                                        <h6 class="center">PRE PRODUCTION</h6>

                                        <ul class="">
                                            <li><span class="teal-text bold">Poster: </span>Jessica Chung</li>
                                            <li><span class="teal-text bold">Poster Photography: </span>Casey McGeorge</li>
                                        </ul>
                                        <br>
                                        <h6 class="center">POST PRODUCTION</h6>

                                        <ul class="">
                                            <li><span class="teal-text bold">Editor: </span>Eric Won</li>
                                            <li><span class="teal-text bold">Sound Design: </span>Eric Won</li>
                                            <li><span class="teal-text bold">Colorist: </span>Ryan McNeal</li>
                                            <li><span class="teal-text bold">Music Composer: </span>Zethu Mashika</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>


        <!-- FOOTER -->
        <% include ../partials/footer %>

            <!-- SCRIPTS -->
            <script type="text/javascript">
                $(document).ready(function() {
                    $('ul.tabs').tabs();
                });
                $(document).ready(function() {
                    $('ul.tabs').tabs('select_tab', 'tab_id');
                });
            </script>
</body>

</html>
